*{
    margin: 0;
    padding: 0;
}

#inicio{
    height: 400px;
    background-color: #F5F0F6;
}

header{
    background-color: #385F71;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: white;
}

.buscador{
    display: flex;
    width: 50%;
    margin: 0;
}

#lector{
    padding: 10px;
    border-radius: 0px;
    width: 400px;
    margin: 0;
    border: none;
}
.buscador #categoria{
    background-color: #F5F0F6;
    color:gray;
    padding: 9px;
    margin: 0;
    border-radius: 5px 0px 0px 5px;
}

#lector:focus .buscador{
    border: 10px solid yellow;
}

#boton_buscar{
    background-color: #D7B377;
    padding: 9px;
    border-radius: 0px 5px 5px 0px;
}

footer{
    display: flex;

    background-color: #385F71;
    width: 100%;
    height: 100px;
}