.carrito_item {
    display: block;
    position: relative;
    padding: 20px;
    padding-bottom: 0;
    max-height: 200px;
    min-height: 150px;
    border: 1px solid #ddd;
}

.carrito-productoCantidades {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #999;
}

.carrito-productoCantidades input {
    border: none;
}