* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inicio {
  height: 400px;
  background-color: #F5F0F6;
}

.header {
  background-color: #385F71;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}


a {
  text-decoration: none;
  color: #F5F0F6;
}

.buscador {
  display: grid;
  grid-template-columns: 2fr 4fr 0.5fr;
  margin: 0;
}

.lector {
  padding: 10px;
  border-radius: 0px;
  max-width: 800px;
  min-width: 20%;
  margin: 0;
  border: none;
  outline: none;
}

.categoria {
  background-color: #F5F0F6;
  color: gray;
  padding: 10px;
  margin: 0;
  border-radius: 5px 0px 0px 5px;
  transition: 300ms;
  border: none;
}

.categoria:hover {
  background-color: #dedcdf;

}

.boton_buscar {
  display: flex;
  align-items: center;
  background-color: #D7B377;
  padding: 9px;
  border-radius: 0px 5px 5px 0px;
  transition: 300ms;
}

.boton_buscar:hover {
  background-color: #c4974a;
  color: #ffffff;
}

.ubicacion FaLocationDot {
  margin: 5px;
  font-size: 20px;
}

.ubicacion:hover {
  color: #ffffff;
}

.carrito {
  font-size: 25px;
  color: #F5F0F6;
  transition: 300ms;
}

.carrito:hover {
  color: #ffffff;
}

@media (max-width: 832px) {
  .header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(
      150px,
      1fr
    ));
    grid-template-rows: repeat(auto, auto);
  }
  .ubicacion {
    position: absolute;
    top: 1.9%;
    left: 35%;
  }

  .carrito {
    position: absolute;
    right: 5%;
    top: 1.7%;
  }

  .buscador {
    grid-column: 1 / 3;
  }
}