.home{
    height: 100000px;
}
img{
    width: 100%;
}

body{
    background-image: url(img/prime.png);
}

@media 
  (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) { 
  body {
    background-image: url(img/PRIME-X.png);
  }
}

