.background{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background img{
    width: 1262px;
    height: 325px;
    box-shadow: 0px 3px 15px #7c7c7c;
}

h2{
    font-family: var(--Fuente-parrafo);
    font-size: 30px;
    color: white;
    text-align: center;
    text-shadow: 0px 3px 15px #7c7c7c;
}

 body{
  background-color: var(--Color-secundario);
} 

.slider{
    background-color: #f2f2f2;
    height: 300px;
}

.slider img{
  padding: 20px;
  width: 300px;
}

.slide {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.swiper {
  width: 90%;
}

.Bloque{
  display: flex;
  justify-content: center;
}

.Coleccion{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  height: 726px;
  width: 990px;
}

.Coleccion img{
  width: 431px;
  height: 431px;
}

.Coleccion .text{
  width: 459px;

}

.text h3{
  font-size: 64px;
  font-family: var(--Fuente-titulo);
  line-height: 76.5%;
  font-weight: 100;
  margin: 0;
}

.text p{
  font-size: 24px;
  font-family: var(--Fuente-parrafo);
  line-height: 94%;
  font-weight: 100;
  margin: 0;
}

.click{
  display: flex;
  justify-content: center;
}

.click button{
  width: 200px;
  height: 60px;
  font-size: 32px;
  border-radius: 18px;
  border: none;
  background-color: transparent;
  border-style: solid;
  border-color: var(--Color-primario);
  transition: 300ms;
}

.click button:hover{
  background-color: var(--Color-primario);
  color: white;
}

.Coleccion .separator{
  border-left: medium solid #000;
  height:431px;
}
