.header {
    background-color: var(--Color-primario);
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100vw;
    box-shadow: 0px 3px 15px #7c7c7c;
  }
  
.header a {
  text-decoration: none;
  color: white;
}

.logotipo{
  margin: 20px 0px 0px 0px;
  font-size: 40px;
  font-family: var(--Fuente-titulo);
}
  
.buscador {
  display: flex;
  align-items: center;
}
  
.lector {
  padding: 10px;
  border-radius: 0px;
  border: none;
  outline: none;
  border-radius: 5px 0px 0px 5px;
  width: 500px;
  text-align: center;
  font-family: 'Playfair Display', serif;
}
  .boton_buscar {
    background-color: var(--Color-terciario);
    padding: 9px;
    border-radius: 0px 5px 5px 0px;
    transition: 300ms;
  }
  
  .boton_buscar:hover {
    background-color: #c4974a;
    color: #ffffff;
  }
  .carrito {
    font-size: 25px;
    color: #F5F0F6;
    transition: 300ms;
    padding: 10px;
  }
  .User {
    font-size: 25px;
    color: #F5F0F6;
    transition: 300ms;
    padding: 10px;
  }
  
  @media (max-width: 832px) {
    .header {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(
        150px,
        1fr
      ));
      grid-template-rows: repeat(auto, auto);
    }
  
    .carrito {
      position: absolute;
      right: 5%;
      top: 1.7%;
    }
  }