.contenedor_favoritos {
    display: block;
    width: 95%;
    margin: 3% auto;
    height: auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.favoritos_titulo {
    display: block;
    width: 100%;
    padding-top: 5px;
}

.favoritos_items {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; 
}

.favoritos-item {
    flex-grow: 1;
    display: block;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    padding: 5px;
    max-height: 100%;
    min-width: 20%;
}
